<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <title>Promardis || Register</title>
    </head>
    <body>
    <div class="logo">
      <img src="../logo.png" class="logo-icon">
    </div>
    <div class="login-box">
    <img src="../avatar.png" class="avatar">
        <h1>Register Here</h1>
            <form action="/users/register" method="POST">
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Register">
            <p>Have Account?<br> <br>  <a href="/users/login">Login</p>
            </form>
      </div>

    </body>
</html>
