<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Promardis</title>
    </head>
    <body>
    <div class="logo">
      <img src="logo.png" class="logo-icon">
    </div>
    <div class="login-box">
    <img src="avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" method="post" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" method="post" required>
            <input type="submit" name="submit" value="Login">
            <a href="#">Forget Password</a>
            </form>
      </div>

    </body>
</html>
